body {
  background-color: rgb(30, 30, 30);
  font-size: 8vh;
}

button {
  border: none;
  margin: 1%;
  width: 48%;
  background-color: rgb(16, 16, 16);
  color: rgb(112, 112, 112);
}

button:hover {
  cursor: pointer;
  color: white;
  transition-duration: 0.4s;
}

#box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 60vh;
  height: 60vh;
}

.bar {
  display: flex;
  height: 50%;
}